{% extends 'adminBase.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}

    <div id="error-word-exist" class="frame frame-important frame-error">Ce mot existe déjà. <a href="">Editer</a></div>

    {{ include('map_location/_form.html.twig', {'button_label': 'Ajouter'}) }}

{% endblock %}

{% block scripts %}
<script>

    var words = [
        {% for loc in locs %}
            {
                "uniqueField": "{{ loc.nameJp }}",
                "editUrl": "{{ path('location_edit', {id: loc.id }) }}"
            },
        {% endfor %}
    ];

</script>
{{ parent() }}
{% endblock %}
