{% extends 'adminBase.html.twig' %}

{% block title %}New Word{% endblock %}

{% block body %}

    <div id="error-word-exist" class="frame frame-important frame-error">Ce mot existe déjà. <a href="">Editer</a></div>

    {{ include('word/_form.html.twig', {'button_label': 'Ajouter'}) }}

{% endblock %}

{% block scripts %}
<script>

    var words = [
        {% for word in words %}
            {
                "kanji": "{{ word.kanji }}",
                "edit_url": "{{ path('word_edit', {id: word.id }) }}"
            },
        {% endfor %}
    ];

</script>
{{ parent() }}
{% endblock %}
