{% extends 'adminBase.html.twig' %}

{% block title %}New Word{% endblock %}

{% block body %}

    {% if errorMessage != null %}
    <div class="frame frame-important">{{ errorMessage }}</div>
    {% endif %}

    {{ include('word/_form.html.twig', {'button_label': 'Ajouter'}) }}

{% endblock %}


