<form class="form-delete" method="post" action="{{ path('verbe_groupe_delete', {'id': verbe_groupe.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ verbe_groupe.id) }}">
    <button class="frame frame-important fas fa-trash-alt clickable"></button>
</form>
