@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    font-size: 14px;
}

html{
    overflow-x: hidden;
}
html.modal-open{
    overflow-y: hidden;
}
body{
    margin: 0;
    background-color: #21242b;
}

a{
    display: inline-block;
    text-decoration: none;
}
span{
    display: inline-block;
}
hr{
    width: 100%;
    height: 0.5px;
    background-color: #fff;
    border: none;
    margin: 40px 0 30px 0;
}

h1, h2, h3{
    margin-top: 0;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h2 > *{
    font-size: inherit;
}
p{
    line-height: 150%;
}

.page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 55px;
    padding-bottom: 50px;
    min-height: 100vh;
}
#page-select .page-container{
    padding-top: 20px;
}
#page-admin .page-container{
    text-align: center;
    padding-top: 50px;
}
#page-learn .page-container{
    padding-top: 50px;
}
#page-app .page-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.section-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 830px;
    padding: 0 15px;
    margin: 0 auto;
    flex-grow: 1;
}
#page-admin .section-container{
    max-width: 1000px;
}
#page-app .section-container{
    justify-content: center;
    padding: 30px 0 0 0;
}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.form-ajax button:not(.fas)::before{
    content: "";
}
.form-ajax button.loading{
    pointer-events: none;
}
.form-ajax button.loading::before{
    content: "\f1ce";
    display: inline-block;
    animation: loading 1s linear infinite;
}
.form-ajax button.success{
    pointer-events: none;
}
.form-ajax button.success::before{
    content: "\f00c";
    display: inline-block;
}
.form-ajax-message{
    text-align: center;
}


#menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 55px;
    z-index: 100;
}
#menu a{
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
}
#menu-small{
    position: relative;
    background: #17191C;
    height: 100%;
    width: 100%;
    z-index: 10;
    pointer-events: none;
}
#menu-small a{
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.25rem;
}
#menu-small a img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#menu-extend{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    transform: translateX(55px);
    width: 185px;
    background: #17191C;
    transition: 0.15s ease 0.1s;
}
#menu-extend a{
    opacity: 0;
    padding-left: 55px;
    transition: 0.15s ease;
}
#menu:hover #menu-extend{
    transform: translateX(100%);
    transition: 0.15s ease;
}
#menu:hover #menu-extend a{
    opacity: 1;
    transition: 0.15s ease 0.15s;
}
#menu-extend a span{
    position: relative;
    font-size: 16px;
    font-weight: bold;
}
#menu-extend a span::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.15s ease;
    border-radius: 100px;
}
#menu-extend a:hover span::after{
    transform: scaleX(1);
}
#page-app #menu{
    display: none;
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
#intro .logo{
    max-width: 300px;
    margin-bottom: 30px;
}
#intro p{
    text-align: justify;
    text-align-last: center;
    margin-top: 0;
}
#intro p:last-child{
    margin-bottom: 0;
}
#intro .row{
    justify-content: center;
}
#intro .row > *{
    margin: 0 5px;
    font-weight: 600;
}
#twitter-link{
    background-color: #00acee;
}
#kofi-link{
    background-color: #35bd3e;
}

#select-recap{
    position: fixed;
    display: flex;
    top: -10px;
    left: 50%;
    justify-content: center;
    transform: translateY(-100%) translateX(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.2s ease;
    white-space: nowrap;
    z-index: 0;
}
#select-recap.show{
    transform: translateY(15px) translateX(-50%);
}
#select-recap .section-container{
    text-align: center;
}
#select-recap-count{
    font-weight: 600;
}


.frame{
    padding: 15px;
    border-radius: 3px;
    overflow: hidden;
}
.frame > i{
    margin-right: 5px;
}
.frame-small{
    font-size: 12px;
    padding: 5px 11px;
}
.frame-heavy{
    background: linear-gradient(to right,#2f4f9c, #382f9c);
    font-weight: 600;
}
.frame-light{
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.065);
}
.frame-important{
    background: #e64e4e !important;
}
.frame-warning{
    background: #e6a44e !important;
}
.frame-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.frame-header{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.frame-header > i{
    margin-left: 5px;
}
.frame-error{
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
}
.frame-error a{
    text-decoration: underline;
}
.frame-error.active{
    display: block;
}


.row{
    display: flex;
}

.clickable{
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.1s ease, background 0.1s ease;
}
.clickable.frame-light:hover {
    background: rgba(255, 255, 255, 0.1);
}
.clickable.frame-heavy:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.04);
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
select,
textarea{
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    border: none;
    width: 100%;
    resize: vertical;
}
input[type=range] {
    box-sizing: border-box;
    font-size: 20px;
    height: 1em;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-webkit-slider-thumb {
    width: 0.25em;
    height: 1em;
    transform: translateY(-50%);
    margin-top: 0;
    border-radius: 3px;
    cursor: pointer;
    background: #2f4f9c;
}
input[type=range]::-moz-range-thumb {
    width: 0.25em;
    height: 1em;
    margin-top: 0;
    border-radius: 3px;
    cursor: pointer;
    background: #2f4f9c;
}
input[type=range]::-ms-thumb {
    width: 0.25em;
    height: 1em;
    margin-top: 0;
    border-radius: 3px;
    cursor: pointer;
    background: #2f4f9c;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: 0;
    box-shadow: 0 0 0 0.08em rgba(255, 255, 255, 0.11);
    border-radius: 3px;
    background-color: transparent;
}
input[type=range]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    height: 0;
    box-shadow: 0 0 0 0.08em rgba(255, 255, 255, 0.11);
    border-radius: 3px;
    background-color: transparent;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}


select option{
    color: #21242b;
}
button{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
input:focus,
select:focus,
button:focus,
textarea:focus{
    outline: none;
    box-shadow: none;
}

.form-row{
	display: flex;
	margin: 0 -5px 10px -5px;
}
.form-widget{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 5px;
	width: 100%;
}

.cond-block:not(.active){
    display: none;
}


.table{
    width: 100%;
    overflow-x: auto;
    border-radius: 3px;
}
.table .frame-heavy,
.table .frame-light{
    padding-top: 0;
    padding-bottom: 0;
    
}
.thead, .tbody{
    display: inline-flex;
    flex-direction: column;
    min-width: 100%;
}
.tr{
    display: inline-flex;
    margin-bottom: 7px;
}
.tbody .tr:last-of-type{
    margin-bottom: 0;
}
.th, .td{
    display: flex;
    align-items: center;
    width: 170px;
    flex-shrink: 0;
    margin: 0;
    padding: 10px;
    border: none;
    text-align: left;
}


.select-cat-control{
    margin: 0 -5px;
    margin-left: auto;
}
.select-cat-control-btn{
    margin: 0 5px;
}

.select-cat .frame-content > .row,
.select-cat-sub .frame-content > .row{
    flex-wrap: wrap;
    margin: -5px;
}
.select-cat-option{
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    margin: 5px;
}
.select-cat-option.selected{
    box-shadow: inset 0 0 0 3px #35bd3e;
}
.select-cat[data-select-cat=date] .frame-content{
    display: flex;
    align-items: center;
}
.select-cat[data-select-cat=date] .frame-content span{
    flex-shrink: 0;
}
.select-cat[data-select-cat=date] .frame-content input{
    margin: 0 15px;
}

#select-count{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#select-count .frame-content span{
    font-size: 50px;
    line-height: 100%;
}



#select-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#select-form button,
#select-form .modal-btn{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0 5px
}
.select-error{
    font-size: 0;
    color: #e64e4e;
}
.select-error.show{
    font-size: 16px;
    margin-top: 10px;
}


#copyright{
    text-align: center;
    width: 100%;
    padding-left: 55px;
}
.content{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid #fff;
}
#copyright a{
    display: inline;
    text-decoration: underline;
}

.admin-index-tools{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #21242b;
    padding: 10px 0;
}
.admin-index-tools a{
    font-size: 20px;
    font-weight: 600;
}
.admin-index-tools-add > i{
    font-size: 1.2em;
    vertical-align: -0.1em;
    margin-left: 5px;
}
.admin-index-tools-back > i{
    font-size: 0.9em;
    vertical-align: middle;
    margin-right: 5px;
}


.form-delete button{
    width: 100%;
    height: 100%;
}
.admin-dashboard-content{
    display: flex;
    margin: 0 -10px;
}
.admin-dashboard-col{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
}
.admin-dashboard-col .frame-content .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -5px;
}
.admin-dashboard-col .frame-content a{
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.admin-dashboard-col .frame-content a i{
    margin-right: 5px;
}


#word-reports{
    height: 100%;
}
#word-reports .frame-content{
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.report-item{
    display: flex;
    padding: 0;
    width: 100%;
}
.report-item:not(:last-child){
    margin-bottom: 15px;
}
.report-item .clickable{
    display: flex;
    align-items: center;
}
.report-item > *:not(:last-child){
    border-right: 1px solid rgba(255, 255, 255, 0.08);
}
.report-description{
    display: inline-block !important;
    text-align: left;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#page-admin .modal[data-modal="report"] .modal-content{
    padding: 30px 50px;
}
#page-admin .modal[data-modal="report"] .modal-content .row{
    justify-content: space-between;
}
#page-admin .modal[data-modal="report"] h4{
    margin: 0;
}
#page-admin .modal[data-modal="report"] .frame:not(:last-child){
    margin-bottom: 10px;
}



#card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    overflow: hidden;
    color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
}
#card-content{
    white-space: nowrap;
    line-height: 100%;
    font-size: 60px;
    cursor: pointer;
    user-select: none;
    border-radius: 1px;
    box-shadow: 0px 2px 0px 7px rgba(255, 255, 255, 0);
    transition: background-color 0.15s ease, box-shadow 0.15s ease;
}
#card-content:hover{
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 2px 0px 7px rgba(255, 255, 255, 0.08);
}
#card #result{
    display: none;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    margin-top: 10px;
}
#card #result.active{
    display: flex;
}
#card #result span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
#card #result span.error{
    color: #e64e4e;
}
#card #result span.correct{
    color: #35bd3e;

}


#answers{
    font-size: 20px;
}
.answers-row{
    position: relative;
    margin-bottom: 10px;
    font-size: inherit;
}
.answers-row span{
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    padding-right: 20px;
}
.answers-row input{
    width: 100%;
    border: none;
    padding: 15px 20px;
    font-size: inherit;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.answers-row input.error{
    box-shadow: inset 0 -5px 0 #e64e4e;
}
.answers-row input.correct{
    box-shadow: inset 0 -5px 0 #35bd3e;
}
.answers-row input:focus{
    outline: none;
}

#infos{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 15px 0;
    font-size: 20px;
    width: 100%;
}
#infos *{
    font-size: inherit;
}
#infos .row{
    flex: 1;
    margin: 0 -5px 0 -5px;
}
#infos .row > *{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 5px;
}


#stats{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    padding: 5px 0;
}
#stats *{
    font-size: inherit;
}
#report-btn{
    color: #e64e4e;
    margin-left: auto;
    padding: 0 5px;
}


.modal[data-modal="finalres"] .row{
    flex: 1;
    justify-content: center;
    margin: 0 -5px 15px -5px;
}
.modal[data-modal="finalres"] .row:last-of-type{
    margin-bottom: 0;
}
.modal[data-modal="finalres"] .row > *{
    margin: 0 5px;
}
.finalres-stats{
    position: relative;
    font-size: 28px;
    width: 100%;
    text-align: center;
}
.finalres-stats::before{
    font-size: 11px;
    display: block;
}
#stats-error::before{
    content: "Erreurs";
}
#stats-time::before{
    content: "Temps moyen";
}
#restart-btn{
    font-weight: 600;
}


.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}
.modal.active{
    opacity: 1 !important;
    pointer-events: all;
}
.modal-content{
    position: relative;
    padding: 4% 6% 4% 6%;
    width: 100%;
    max-width: 830px;
    max-height: 85%;
    overflow-y: scroll;
    border-radius: 3px;
    color: #fff;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #21242b;
}
.modal-content::-webkit-scrollbar {
    display: none;
}
.modal-content h2{
    font-size: 30px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
.modal-content h3{
    font-size: 25px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.modal-content h4{
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.modal-content h2:first-of-type{
    margin-top: 0;
}
.modal-content p{
    margin-top: 0;
    margin-bottom: 20px;
}
.modal-content a{
    text-decoration: underline;
    font-weight: 600;
}
.modal-close{
    content: "";
    position: fixed;
    display: block;
    top: 15px;
    right: 15px;
    font-size: 34px;
    cursor: pointer;
}


.modal[data-modal=help] *{
    text-align: justify;
}
.modal[data-modal=learn] .modal-content{
    height: 100%;
}
#learn-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#learn-menu > span{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}
#learn-menu > span::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.15s ease;
    border-radius: 100px;
}
#learn-menu > span > i{
    margin-left: 20px;
    transform: translateX(-10px);
    transition: 0.15s ease;
}
#learn-menu > span:hover::after{
    transform: scaleX(1);
}
#learn-menu > span:hover > i{
    transform: translateX(0);
}
.learn-cat .nav-cat-back{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1em;
}
.learn-cat p{
    text-align: justify;
    margin-bottom: 0.8em;
}

.nav-cat-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.nav-cat-overflow::-webkit-scrollbar{
    display: none;
}
.nav-cat-back{
    cursor: pointer;
}
.nav-cat-back i{
    margin-right: 5px;
}
.nav-cat-menu{
    width: 100%;
    height: 100%;
}
.nav-cat-menu{
    transition: 0.3s ease;
}
.nav-cat-menu.leave{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    opacity: 0;
}
.nav-cat-item{
    transition: 0.3s ease;
}
.nav-cat-item.inactive{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
}
.nav-cat-item.active{
    position: relative;
    height: auto;
    transform: translateX(0);
    opacity: 1;
}

#button-logout{
    align-self: center;
}

.analyse-item{
    margin-bottom: 7px;
}
.analyse-item .row{
    align-items: center;
    margin: 0 -5px;
}
.analyse-item .row > *{
    margin: 0 5px;
}
.analyse-item .frame-header{
    margin-bottom: 0;
}
.analyse-item-content{
    margin-top: 7px;
}
.analyse-item.hidden .analyse-item-content{
    display: none;
}

@media (max-width: 750px){
    .admin-dashboard-content{
        flex-direction: column;
    }
}
@media (max-width: 425px){
    .page-container{
        padding-left: 0;
    }
    #menu{
        display: none;
    }
    #page-select .page-container h1{
        font-size: 28px;
    }
    #page-select .page-container h2{
        font-size: 23px;
    }
    .modal-content h1{
        font-size: 28px;
    }
    .modal-content h2{
        font-size: 23px;
    }
    .modal-content h3{
        font-size: 20px;
    }
    #learn-menu > span {
        font-size: 18px;
    }
}