<h2>Guide d'utilisation du jeu des nombres</h2>

<h3>Fonctionnement du jeu</h3>
<p>Le fonctionnement de ce jeu est très simple et similaire au jeu de base. Un nombre aléatoire est choisi entre 10 et 99 999 999 et vous devez donner sa forme en rōmaji.</p>
<p>Appuyez ensuite sur <b>Entrée</b> une première fois pour valider votre réponse, puis une seconde fois pour passer au nombre suivant.</p>
<p>L'objectif est de répondre le plus vite possible et sans réflechir. Répétez le plus souvent l'exercice pour être sûr de bien vous habituez aux nombres.</p>