<h2>Guide d'utilisation</h2>

<h3>Fonctionnement du jeu</h3>
<p>Avant tout, si vous ne connaissez pas encore les Kanas (Hiragana et Katakana), je vous conseille de les apprendre sur le site <a href="https://kana.pro/" target="_blank">kana.pro</a> qui fonctionne pareil que J-App. J-App est d'ailleurs construit sur le modèle de ce site.</p>
<p>Le fonctionnement du jeu est très simple : un mot en japonais aléatoire parmi ceux que vous avez sélectionnés s'affiche, vous devez écrire son écriture en Rômaji (pour la prononciation) sur la première ligne et sur la seconde vous devez écrire sa traduction en français.</p>
<p>Appuyez ensuite sur <b>Entrée</b> une première fois pour valider vos réponses, puis une seconde fois pour passer au mot suivant.</p>
<p>L'objectif est de répondre le plus vite possible et sans réflechir. Répétez le plus souvent l'exercice pour être sûr de bien mémoriser les mots.</p>
<p>Le site étant en plein développement, vous rencontrez sûrement un <b>problème de fonctionnement</b> ou une <b>erreur sur un mot</b>. Dans ce cas, merci de cliquer sur le bouton <span class="fas fa-exclamation-triangle"></span> disponible en jeu et d'indiquer le problème que vous avez rencontré.</p>

<h3>Les paramètres de sélection</h3>
<p>Les paramètres de sélection sont <b>cumulatifs</b>. C'est à dire que pour chaque catégorie que vous sélectionnez, les mots associés seront sélectionnés.</p>
<p><b>Exemple : </b>Si vous sélectionnez les catégories <b>Verbe</b> et <b>Animaux</b>, vous sélectionnez <b>TOUS</b> les verbes <b>ET TOUS</b> les noms d'animaux.</p>
<p><b>Le curseur de date d'ajout</b> sert à sélectionnez les mots selon leur date d'ajout sur le site. Ce paramètre est surtout utile si vous utilisez le site régulièrement (de nouveaux mots sont ajoutés régulièrement).</p>
<p>Pour progresser efficacement, le mieux est de commencer catégorie par catégorie</b>. Cela permet de mémoriser les mots bien plus facilement ! Une fois que vous maîtrisez les catégories, vous pouvez en sélectionner plusieurs en même temps.</p>

<h3>Concernant le japonais</h3>
<p>Les verbes sont proposés dans leur forme neutre, c'est à dire l'infinitif, tels qu'on les trouve dans le dictionnaire. Cette forme est informelle et <b>ne doit pas être utilisée avec des inconnus</b> ou des personne de hiérarchie supérieure. <b>Vous devez apprendre à les conjuger correctement</b> en suivant d'autres cours ou en vous aidant de l'onglet <span class="fas fa-graduation-cap" data-modal="learn"></span> disponible en jeu.</p>
<p>Pour éviter toute confusion, le site utilise la méthode Hepburn du <b>Rōmaji</b> avec un doublement des lettres pour les voyelles longues. <b>Par exemple : </b><b>ありがとう</b> se transcrit par <b>arigatoo</b> (et non pas <b>arigatou</b> comme on peut le voir ailleurs).</p>