<h2>Les particules</h2>
<p><b>は - wa : </b>indique le thème de la phrase.</p>
<p><b>も - mo : </b>remplace "wa" et signifie "aussi".</p>
<p><b>の - no : </b>indique l'appartenance, la possession, l'identité.</p>
<p><b>か - ka : </b>toujours placé à la fin, il indique la forme interrogative.</p>
<p><b>ね - ne : </b>s'utilise en fin de phrase pour exprimer une idée que l’on pense partagée par l’interlocuteur.</p>
<p><b>を - wo/o : </b>se place devant le verbe, connexion entre le verbe et le C.O.D.</p>
<p><b>と - to : </b>signifie "et" ou "avec quelqu'un".</p>
<p><b>へ - e : </b>se place devant les verbes de déplacement et devant un lieu ou どこ.</p>
<p><b>に - ni : </b>similaire au "à" en français.</p>
<p><b>よ - yo : </b>s'utilise comme le "!". Amplifie le sens de la phrase.</p>
<p><b>が - ga : </b>se place au milieu d'une phrase et signifie "mais" <b>OU</b> sert à marquer l'objet.</p>
<hr/>
<h2>La conjugaison</h2>
<p>La conjugaison s'effectue en changeant la fin du verbe :</p>
<p><b>ます - masu : </b>forme du présent et du futur.</p>
<p><b>ました - mashita : </b>forme du passé.</p>
<p><b>ません - masen : </b>forme <b>négative</b> du verbe.</p>
<p><b>でした - deshita : </b>forme <b>négative</b> du verbe au <b>passé</b>. S'ajoute après la forme négative <b>ません</b>.</p>
<p><b>ましょう - mashou : </b>sert à exprimer une intention ou une proposition. Exemple : "Buvons"</p>
<p><b>こと - koto : </b>dans certains cas l’infinitif français se traduit par l’infinitif du verbe japonais + こと.</p>
<hr/>
<h2>Les adjectifs</h2>
<h3>Les adjectifs en い</h3>
<p>Ils se finissent tous par い mais cette règle n'est pas réciproque. Ils précèdent directement leur objet.</p>
<p>Pour les variantes, on remplace le い :</p>
<p><b>くない - kunai : </b>forme négative.</p>
<p><b>かった - katta : </b>forme passée.</p>
<p><b>くなかった - kunakatta : </b>forme négative passée.</p>
<p><b>くて - kute : </b>lorsque 2 adjectifs se suivent, on remplace le "i" du premier.</p>
<p><b>そう - sou : </b>pour exprimer une impression, dans le sens : "ça a l’air". On remplace le "i" final par そう.</p>

<h3>Les adjectifs en な</h3>
<p>Ils ne précèdent pas directement l'objet. L'adjectifs et l'objet sont séparés par la particule な.</p>
<p>Pour les variantes, on conjuge le verbe です à la fin de la phrase.</p>
<p>Lorsque deux adjectifs en な se suivent, on remplace le な du premier par で.</p>

<hr/>
<h2>Les chiffres & nombres</h2>
<p>En japonais, les "paliers" de nombres sont découpées différements des autres langues :</p>
<p><b>100 : </b>百 - hyaku</p>
<p><b>1 000 : </b>千 - sen</p>
<p><b>10 000 : </b>万 - man</p>
<p><b>100 000 000 : </b>億 - oku</p>
<p>Entre chaque palier, il suffit d'ajouter un nombre avant le palier</p>
<p><b>Exemple : 190 000 = 十九万 - juukyuuman</b></p>

<h3>L'heure</h3>
<p>L'écriture de l'heure est similaire aux autres langues (chiffre + heure/minute/seconde), <b>sauf pour les minutes</b>.</p>
<p>"Minute" s'écrit 分 - Fun/Pun/Bun</p>
<p>La prononciation change en fonction du chiffre :</p>
<p><b>１分 - ippun</b></p>
<p><b>２分 - nifun</b></p>
<p><b>３分 - sanbun</b></p>
<p><b>４分 - yonpun</b></p>
<p><b>５分 - gofun</b></p>
<p><b>６分 - roppun</b></p>
<p><b>７分 - nanafun</b></p>
<p><b>８分 - happun</b></p>
<p><b>９分 - kyuufun</b></p>
<p><b>１０分 - juppun</b></p>
<p><b>１５分 - juugofun</b></p>
<p><b>３０分 - sanjuppun</b></p>
