<h2>Les particules</h2>
<p><b>は - wa : </b>indique le thème de la phrase.</p>
<p><b>も - mo : </b>remplace "wa" et signifie "aussi". Sert aussi à créer une liste d'éléments.</p>
<p><b>の - no : </b>indique l'appartenance, la possession, l'identité. Peut remplacer か pour adoucir une question (enfants et femmes).</p>
<p><b>か - ka : </b>toujours placé à la fin, il indique la forme interrogative.</p>
<p><b>ね - ne : </b>en fin de phrase, sert à exprimer une idée que l’on pense partagée par l’interlocuteur. En début de phrase, sert à attirer l'attention.</p>
<p><b>を - wo/o : </b>se place devant le verbe, connexion entre le verbe et le C.O.D.</p>
<p><b>と - to : </b>signifie "et" ou "avec quelqu'un".</p>
<p><b>へ - e : </b>se place entre un verbe de déplacement et un lieu ou どこ.</p>
<p><b>に - ni (location dans le temps) : </b>similaire au "à" (quelle heure) en français.</p>
<p><b>に - ni (location dans l'espace) : </b>comme la particule へ mais avec les verbes de non-action ありますか et います</p>
<p><b>に - ni (introduit le C.O.I.) : </b>se place juste après le C.O.I.</p>
<p><b>に - ni (formation des adverbes) : </b>sert aussi à la formation d’adverbes à partir d’adjectifs en な ou en の</p>
<p><b>よ - yo : </b>s'utilise comme le "!". Amplifie le sens de la phrase.</p>
<p><b>が - ga : </b>se place au milieu d'une phrase et signifie "mais" <b>OU</b> sert à marquer l'objet.</p>
<p><b>から - kara : </b>se place après la cause. Simlaire à "parce que". Après un adjectif en い ou un verbe : から. Après un adjectif en な ou un nom : です から ou sa forme neutre だから.</p>
<p><b>で - de : </b>indique le lieu de l'action, similaire à "à", "au", "dans", "en" etc... Indique aussi une façon de faire, répond à la question "comment", "avec quoi/qui".</p>
<p><b>な - na : </b>s'utilise comme la particule ね mais exprime une pensée qui ne nécessite pas de réponse.</p>
<hr/>
<h2>La conjugaison</h2>
<p>La conjugaison s'effectue en changeant la fin du verbe (selon son groupe).</p>

<h3>Forme polie</h3>
<p><b>ます - masu : </b>forme du présent et du futur.</p>
<p><b>ました - mashita : </b>forme du passé.</p>
<p><b>ません - masen : </b>forme <b>négative</b> du verbe.</p>
<p><b>でした - deshita : </b>forme <b>négative</b> du verbe au <b>passé</b>. S'ajoute après la forme négative <b>ません</b>.</p>
<p><b>ましょう - mashou : </b>sert à exprimer une intention ou une proposition. Exemple : "Buvons"</p>
<p><b>こと - koto : </b>dans certains cas l’infinitif français se traduit par l’infinitif du verbe japonais + こと.</p>
<p><b>たい - tai : </b>sert à exprimer un désir. Exemple : "J'ai envie de boire"</p>
<p><b>たくない - takunai : </b>forme négative de たい. Exemple : "Je n'ai pas envie de boire"</p>
<p><b>たかった - takatta : </b>forme passée de たい. Exemple : "Je voulais boire"</p>
<p><b>たくなかった - takunakatta : </b>forme négative passée de たい. Exemple : "Je ne voulais pas boire"</p>

<br/>
<h3>ない - nai</h3>
<p>La forme en ない des verbes correspond à la forme négative neutre, elle possède quelques particularités :</p>
<p><b>Verbes Ichidan</b> -> on remplace simplement る par ない.</p>
<p><b>Verbes Godan</b> -> chacune des neuf terminaisons du groupe est différente :</p>
<p><b>う - u</b> -> わない</p>
<p><b>く - ku</b> -> かない</p>
<p><b>ぐ - gu</b> -> がない</p>
<p><b>ぶ - bu</b> -> ばない</p>
<p><b>む - mu</b> -> まない</p>
<p><b>す - su</b> -> さない</p>
<p><b>つ - tsu</b> -> たない</p>
<p><b>ぬ - nu</b> -> なない</p>
<p><b>る - ru</b> -> らない</p>
<p><b>Exception : </b>Le verbe ある - aru (avoir) -> ない</p>
<p><b>なかった - nakatta : </b>forme passé de ない (on remplace simplement ない par なかった).</p>

<br/>
<h3>た - ta</h3>
<p>La forme en た des verbes correspond à la forme passée neutre, elle possède quelques particularités :</p>
<p><b>Verbes Ichidan</b> -> on remplace simplement る par た.</p>
<p><b>Verbes Godan</b> -> chacune des neuf terminaisons du groupe est différente :</p>
<p><b>う - u</b> -> った</p>
<p><b>く - ku</b> -> いた</p>
<p><b>ぐ - gu</b> -> いだ</p>
<p><b>ぶ - bu</b> -> んだ</p>
<p><b>む - mu</b> -> んだ</p>
<p><b>す - su</b> -> した</p>
<p><b>つ - tsu</b> -> った</p>
<p><b>ぬ - nu</b> -> んだ</p>
<p><b>る - ru</b> -> った</p>

<br/>
<h3>たことがある - ta koto ga aru</h3>
<p>Cette forme permet d'exprimer une expérience passée. Il faut alors conjuger ある à la fin. A la forme neutre, le が est souvent omis.</p>

<br/>
<h3>Proposition subordonnée relative</h3>
<p>Elle consiste à apporter une information sur un nom ou un groupe nominal. Elle s'utilise avec la forme neutre.</p>
<p><b>Exemple : </b>L'animé <u>que j'ai regardé</u> hier était super ->  昨日 <u>見た アニメ</u> は すごかった.</p>
<p>Pour l'utiliser, il suffit de faire passer un verbe d'action avant le nom (sujet), à la même place qu'un adjectif.</p>


<hr/>
<h2>Les adjectifs</h2>
<h3>Les adjectifs en い</h3>
<p>Ils se finissent tous par い mais cette règle n'est pas réciproque. Ils précèdent directement leur objet.</p>
<p>Pour les variantes, on remplace le い final :</p>
<p><b>くない - kunai : </b>forme négative.</p>
<p><b>かった - katta : </b>forme passée.</p>
<p><b>くなかった - kunakatta : </b>forme négative passée.</p>
<p><b>くて - kute : </b>lorsque 2 adjectifs se suivent, on remplace le "i" du premier.</p>
<p><b>そう - sou : </b>pour exprimer une impression, dans le sens : "ça a l’air". On remplace le "i" final par そう.</p>

<br/>
<h3>Les adjectifs en な</h3>
<p>Ils ne précèdent pas directement l'objet. L'adjectifs et l'objet sont séparés par la particule な.</p>
<p>Pour les variantes, on conjuge le verbe です à la fin de la phrase.</p>
<p>Lorsque deux adjectifs en な se suivent, on remplace le な du premier par で.</p>

<hr/>
<h2>Les chiffres & nombres</h2>
<p>En japonais, les "paliers" de nombres sont découpées différements des autres langues :</p>
<p><b>100 : </b>百 - hyaku</p>
<p><b>1 000 : </b>千 - sen</p>
<p><b>10 000 : </b>万 - man</p>
<p><b>100 000 000 : </b>億 - oku</p>
<p>Entre chaque palier, il suffit d'ajouter un nombre avant le palier</p>
<p><b>Exemple : 190 000 = 十九万 - juukyuuman</b></p>

<hr/>
<h2>L'heure</h2>
<p>L'écriture de l'heure est similaire aux autres langues (chiffre + heure/minute/seconde), <b>sauf pour les minutes</b>.</p>
<p>"Minute" s'écrit 分 - Fun/Pun/Bun</p>
<p>La prononciation change en fonction du chiffre :</p>
<p><b>１分 - ippun</b></p>
<p><b>２分 - nifun</b></p>
<p><b>３分 - sanbun</b></p>
<p><b>４分 - yonpun</b></p>
<p><b>５分 - gofun</b></p>
<p><b>６分 - roppun</b></p>
<p><b>７分 - nanafun</b></p>
<p><b>８分 - happun</b></p>
<p><b>９分 - kyuufun</b></p>
<p><b>１０分 - juppun</b></p>
<p><b>１５分 - juugofun</b></p>
<p><b>３０分 - sanjuppun</b></p>

<hr/>
<h2>Compter les personnes/objets</h2>
<h3>Les personnes</h3>
<p><b>ひとり - hitori : </b>1 personne</p>
<p><b>ふたり - futari : </b>2 personnes</p>
<p>Ensuite, on ajoute simplement にん après le chiffre : [chiffre] + にん</p>

<h3>Les objets</h3>
<p><b>ひとつ - hitori : </b>1 objet</p>
<p><b>ふたつ - futari : </b>2 objets</p>
<p>Ensuite, on ajoute simplement つ après le chiffre : [chiffre] + つ</p>

<hr/>
<h2>Expressions</h2>
<p><b>ちょっといいですか - chotto ii desu ka : </b>"pouvez-vous m’accorder quelques instants ?"</p>
<p><b>って - tte : </b>dans un contexte familier, sert à demander ou apporter une précision à la phrase ou à un mot de son interlocuteur.</p>
<p><b>もう いい - mou ii : </b>"ça suffit", "c'est bon"</p>

<hr/>
<h2>Interjections</h2>
<p>En japonais, les interjections sont très importantes et bien vu, contrairement aux autres langues.</p>
<p><b>うんん - unn : </b>exprime une reflexion.</p>
<p><b>うん - un : </b>exprime une confirmation.</p>
<p><b>えー - ee : </b>exprime une surprise. Se prononce en longueur.</p>
<p><b>え - e : </b>exprime une confirmation à une question.</p>

<hr/>
<h2>Mots particuliers</h2>
<p>Certains mots ne peuvent pas être directement traduits ou nécessitent des explications supplémentaires, vous trouverez donc ces mots dans cette partie.</p>
<h3>Le mot "Être"</h3>
<p>En japonais, il est souvent considéré à tort comme un verbe. De ce fait, il ne se conjuge pas comme un verbe normal :</p>
<p><b>です - desu : </b>présent poli</p>
<p><b>だ - da : </b>présent neutre</p>
<p><b>でした - deshita : </b>passé poli</p>
<p><b>です - 	datta : </b>passé neutre</p>
<p><b>ではありません - dewa arimasen : </b>présent négatif poli</p>
<p><b>じゃありません - ja arimasen : </b>présent négatif courant</p>
<p><b>ではない - dewanai : </b>présent négatif neutre</p>
<p><b>じゃない - ja nai : </b>présent négatif neutre (forme orale)</p>
<p><b>ではありませんでした - dewa arimasen deshita : </b>passé négatif poli</p>
<p><b>じゃなかったです - ja nakatta desu : </b>passé négatif neutre</p>

<br/>
<h3>時 - toki</h3>
<p>Sert à situer une action dans le temps. Similaire à "quand", "pendant" ou "durant".</p>
<p><b>Avec un nom :</b> [nom] + の + 時</p>
<p><b>Avec un verbe :</b> [verbe à la forme neutre] + 時</p>
<p><b>Avec un adjectif en い :</b> [adjectif] + 時</p>
<p><b>Avec un adjectif en な :</b> [adjectif] + な + 時</p>

<br/>
<h3>でも - けど<h3>
<p>Les deux signifie "mais" dans un contexte formel/écrit (contrairement à が), mais でも s'utilise en début de phrase et けど au milieu.</p>

<br/>
<h3>と思う - to omou - penser que</h3>
<p><b>Avec un nom :</b> [nom] + だ + と思う</p>
<p><b>Avec un verbe :</b> [verbe à la forme neutre] + と思う</p>
<p><b>Avec un adjectif en い :</b> [adjectif] + と思う</p>
<p><b>Avec un adjectif en な :</b> [adjectif] + だ + と思う</p>
