<div class="nav-cat-container">
    <div class="nav-cat-menu" id="learn-menu">
        <h2><i class="fas fa-graduation-cap"></i> Les notes du Sensei</h2>
        <span data-nav-cat="0" class="learn-menu-item nav-cat-menu-item">Les particules<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="1" class="learn-menu-item nav-cat-menu-item">La conjugaison<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="2" class="learn-menu-item nav-cat-menu-item">Les adjectifs<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="3" class="learn-menu-item nav-cat-menu-item">Les chiffres & nombres<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="4" class="learn-menu-item nav-cat-menu-item">L'heure<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="5" class="learn-menu-item nav-cat-menu-item">Compter les personnes/objets<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="9" class="learn-menu-item nav-cat-menu-item">Causes & conséquences<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="6" class="learn-menu-item nav-cat-menu-item">Expressions<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="7" class="learn-menu-item nav-cat-menu-item">Interjections<i class="fas fa-arrow-right"></i></span>
        <span data-nav-cat="8" class="learn-menu-item nav-cat-menu-item">Cas particuliers<i class="fas fa-arrow-right"></i></span>
    </div>

    <div data-nav-cat="0" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Les particules</h2>
        <p><b>は - wa : </b>indique le thème de la phrase.</p>
        <p><b>も - mo : </b>remplace "wa" et signifie "aussi". Sert aussi à créer une liste d'éléments.</p>
        <p><b>の - no : </b>indique l'appartenance, la possession, l'identité. Peut remplacer か pour adoucir une question (enfants et femmes).</p>
        <p><b>か - ka : </b>placé à la fin, il indique la forme interrogative. Placé au milieu, il correspond au "ou" en français.</p>
        <p><b>ね - ne : </b>en fin de phrase, sert à exprimer une idée que l'on pense partagée par l'interlocuteur. En début de phrase, sert à attirer l'attention.</p>
        <p><b>を - wo/o : </b>se place entre un verbe d'action et le C.O.D.</p>
        <p><b>と - to : </b>signifie "et" ou "avec quelqu'un". Devant un verbe, sert à faire un discours rapporté (citation).</p>
        <p><b>へ - e : </b>se place entre un verbe de déplacement et un lieu ou どこ.</p>
        <p><b>に - ni (location dans le temps) : </b>similaire au "à" (quelle heure) en français.</p>
        <p><b>に - ni (location dans l'espace) : </b>comme la particule へ ou で mais avec les verbes de non-action ありますか et います</p>
        <p><b>に - ni (introduit le C.O.I.) : </b>se place juste après le C.O.I.</p>
        <p><b>に - ni (formation des adverbes) : </b>sert aussi à la formation d'adverbes à partir d'adjectifs en な ou en の</p>
        <p><b>よ - yo : </b>s'utilise comme le "!". Amplifie le sens de la phrase.</p>
        <p><b>が - ga : </b>se place au milieu d'une phrase et signifie "mais" <b>OU</b> sert à marquer le C.O.D. si placé devant un verbe de non-action ou un adjectif.</p>
        <p><b>で - de : </b>indique le lieu de l'action, similaire à "à", "au", "dans", "en" etc... Indique aussi une façon de faire, répond à la question "comment", "avec quoi/qui".</p>
        <p><b>な - na : </b>s'utilise comme la particule ね mais exprime une pensée qui ne nécessite pas de réponse.</p>
        <p><b>より - yori : </b>exprime une comparaison.</p>
    </div>

    <div data-nav-cat="1" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>La conjugaison</h2>
        <p>La conjugaison s'effectue en changeant la fin du verbe (selon son groupe).</p>
        <h3>Forme polie</h3>
        <p><b>ます - masu : </b>forme du présent et du futur.</p>
        <p><b>ました - mashita : </b>forme du passé.</p>
        <p><b>ません - masen : </b>forme <b>négative</b> du verbe.</p>
        <p><b>でした - deshita : </b>forme <b>négative</b> du verbe au <b>passé</b>. S'ajoute après la forme négative <b>ません</b>.</p>
        <p><b>ましょう - mashou : </b>sert à exprimer une intention ou une proposition. Exemple : "Buvons"</p>
        <p><b>こと - koto : </b>dans certains cas l'infinitif français se traduit par l'infinitif du verbe japonais + こと.</p>
        <p><b>たい - tai : </b>sert à exprimer un désir. Exemple : "J'ai envie de boire"</p>
        <p><b>たくない - takunai : </b>forme négative de たい. Exemple : "Je n'ai pas envie de boire"</p>
        <p><b>たかった - takatta : </b>forme passée de たい. Exemple : "Je voulais boire"</p>
        <p><b>たくなかった - takunakatta : </b>forme négative passée de たい. Exemple : "Je ne voulais pas boire"</p>

        <br/>
        <h3>ない - nai</h3>
        <p>La forme en ない des verbes correspond à la forme négative neutre, elle possède quelques particularités :</p>
        <p><b>Verbes Ichidan</b> -> on remplace simplement る par ない.</p>
        <p><b>Verbes Godan</b> -> chacune des neuf terminaisons du groupe est différente :</p>
        <p><b>う - u</b> -> わない</p>
        <p><b>く - ku</b> -> かない</p>
        <p><b>ぐ - gu</b> -> がない</p>
        <p><b>ぶ - bu</b> -> ばない</p>
        <p><b>む - mu</b> -> まない</p>
        <p><b>す - su</b> -> さない</p>
        <p><b>つ - tsu</b> -> たない</p>
        <p><b>ぬ - nu</b> -> なない</p>
        <p><b>る - ru</b> -> らない</p>
        <p><b>Exception : </b>Le verbe ある - aru (avoir) -> ない</p>
        <p><b>なかった - nakatta : </b>forme passé de ない (on remplace simplement ない par なかった).</p>

        <br/>
        <h3>た - ta</h3>
        <p>La forme en た des verbes correspond à la forme passée neutre.</p>
        <p><b>Verbes Ichidan</b> -> on remplace simplement る par た.</p>
        <p><b>Verbes Godan</b> -> chacune des neuf terminaisons du groupe est différente :</p>
        <p><b>う - u</b> -> った</p>
        <p><b>く - ku</b> -> いた</p>
        <p><b>ぐ - gu</b> -> いだ</p>
        <p><b>ぶ - bu</b> -> んだ</p>
        <p><b>む - mu</b> -> んだ</p>
        <p><b>す - su</b> -> した</p>
        <p><b>つ - tsu</b> -> った</p>
        <p><b>ぬ - nu</b> -> んだ</p>
        <p><b>る - ru</b> -> った</p>

        <br/>
        <h3>たことがある - ta koto ga aru</h3>
        <p>Cette forme permet d'exprimer une expérience passée. Il faut alors conjuger ある à la fin. A la forme neutre, le が est souvent omis.</p>

        <br/>
        <h3>たら - tara</h3>
        <p>Cette forme sert à exprimer le conditionnel : [verbe en forme た] + ら.</p>
        <p>Pour la forme négative, on utilise なかった : [verbe en なかった] + ら.</p>

        <br/>
        <h3>て - te</h3>
        <p>La forme en て des verbes correspond à l'impératif, pour donner un ordre.</p>
        <p><b>Verbes Ichidan</b> -> on remplace simplement る par て.</p>
        <p><b>Verbes Godan</b> -> chacune des neuf terminaisons du groupe est différente :</p>
        <p><b>う - u</b> -> って</p>
        <p><b>く - ku</b> -> いて</p>
        <p><b>ぐ - gu</b> -> いで</p>
        <p><b>ぶ - bu</b> -> んで</p>
        <p><b>む - mu</b> -> んで</p>
        <p><b>す - su</b> -> して</p>
        <p><b>つ - tsu</b> -> って</p>
        <p><b>ぬ - nu</b> -> んで</p>
        <p><b>る - ru</b> -> って</p>
        <p>Pour demander poliment on rajoute ください après le verbe en て. (ください tout seul signifie "donnez-moi s'il vous plait")</p>

        <br/>
        <h3>ている - te iru</h3>
        <p>Exprime une action en cours ou qui se prolongent dans le temps.</p>
        <p><b>Attention : </b>Le fait de "savoir" se prolonge toujours dans le temps, il faut donc utiliser cette forme.</p>

        <br/>
        <h3>てもいいです - te mo ii desu</h3>
        <p>S'utilise pour donner ou demander la permission de faire quelque chose. [verbe forme en て] + もいいです.</p>
        <p>Pour la version négative, on remplace le い final de la forme en ない et on ajoute くてもいいです.</p>

        <br/>
        <h3>てはいけません - te wa ikemasen</h3>
        <p>Exprime une forte interdiction ou impossibilité. [verbe forme en て] + はいけません.</p>
        <p>Pour exprimer une obligation, on double la négation en remplaçant le い final de la forme en ない et on ajoute くてはいけません.</p>

        <br/>
        <h3>よう - you/ou</h3>
        <p>Equivalent neutre de la forme ましょう (intention ou proposition).</p>
        <p><b>Verbes Ichidan</b> -> on remplace simplement る par よう.</p>
        <p><b>Verbes Godan</b> -> chacune des neuf terminaisons du groupe est différente :</p>
        <p><b>う - u</b> -> おう</p>
        <p><b>く - ku</b> -> こう</p>
        <p><b>ぐ - gu</b> -> ごう</p>
        <p><b>ぶ - bu</b> -> ぼう</p>
        <p><b>む - mu</b> -> もう</p>
        <p><b>す - su</b> -> そう</p>
        <p><b>つ - tsu</b> -> とう</p>
        <p><b>ぬ - nu</b> -> のう</p>
        <p><b>る - ru</b> -> ろう</p>

        <br/>
        <h3>Forme potentielle</h3>
        <p>La forme potentielle d'un verbe sert à exprimer une capacité.</p>
        <p><b>する - suru</b> -> できる</p>
        <p><b>来る - kuru</b> -> 来られる</p>
        <p><b>Verbes Ichidan</b> -> on remplace る par られる ou れる (forme raccourcie).</p>
        <p><b>Verbes Godan</b> -> chacune des neuf terminaisons du groupe est différente :</p>
        <p><b>う - u</b> -> える</p>
        <p><b>く - ku</b> -> ける</p>
        <p><b>ぐ - gu</b> -> げる</p>
        <p><b>ぶ - bu</b> -> べる</p>
        <p><b>む - mu</b> -> める</p>
        <p><b>す - su</b> -> せる</p>
        <p><b>つ - tsu</b> -> てる</p>
        <p><b>ぬ - nu</b> -> ねる</p>
        <p><b>る - ru</b> -> れる</p>
        <p><b>Exception : </b>話します (du verbe 話す - parler) devient 話せます</p>

        <br/>
        <h3>に行く - ni iku</h3>
        <p>La forme に行く correspond à "aller faire quelque chose".</p>
        <p>Elle se forme à partir de la forme ます du verbe. On remplace alors ます par に行く.</p>

        <br/>
        <h3>Proposition subordonnée relative</h3>
        <p>Elle consiste à apporter une information sur un nom ou un groupe nominal. Elle s'utilise avec la forme neutre.</p>
        <p><b>Exemple : </b>L'animé <u>que j'ai regardé</u> hier était super ->  昨日 <u>見た アニメ</u> は すごかった.</p>
        <p>Pour l'utiliser, il suffit de faire passer un verbe d'action avant le nom (sujet), à la même place qu'un adjectif.</p>

        <br/>
        <h3>つもり - tsumori</h3>
        <p>つもり sert à exprimer une intention. Cette forme s'utilise simplement : [verbe neutre] + つもり + です</p>

        <br/>
        <h3>ほうがいいです - hou ga ii desu</h3>
        <p>Cette forme sert à exprimer un conseil : [verbe en ta/nai] + ほうがいいです.</p>
    </div>


    <div data-nav-cat="2" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Les adjectifs</h2>
        <h3>Les adjectifs en い</h3>
        <p>Ils se finissent tous par い mais cette règle n'est pas réciproque. Ils précèdent directement leur objet.</p>
        <p>Pour les variantes, on remplace le い final :</p>
        <p><b>くない - kunai : </b>forme négative.</p>
        <p><b>かった - katta : </b>forme passée.</p>
        <p><b>くなかった - kunakatta : </b>forme négative passée.</p>
        <p><b>くて - kute : </b>lorsque 2 adjectifs se suivent, on remplace le "i" du premier.</p>
        <p><b>そう - sou : </b>pour exprimer une impression, dans le sens : "ça a l'air". On remplace le "i" final par そう.</p>
        <p><b>く - ku : </b>transforme l'adjectif en adverbe. <b>Exception : </b>la forme く de l'adjectif いい est よく.</p>
        <p><b>すぎる - sugiru : </b>exprime l'excès, "trop". L'adjectif se transforme en verbe, on conjuge すぎる. Pour transformer l'adjectif en nom -> すぎ (ex: "trop manger").</p>

        <br/>
        <h3>Les adjectifs en な</h3>
        <p>Ils ne précèdent pas directement l'objet. L'adjectifs et l'objet sont séparés par la particule な.</p>
        <p>Pour les variantes, on conjuge le verbe です à la fin de la phrase.</p>
        <p>Lorsque deux adjectifs en な se suivent, on remplace le な du premier par で.</p>
        <p>Pour exprimer un excès, on ajoute すぎる après l'adjectif. On utilise aussi すぎ pour transformer l'adjectif en nom.</p>
    </div>

    <div data-nav-cat="3" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Les chiffres & nombres</h2>
        <p>En japonais, les "paliers" de nombres sont découpées différements des autres langues :</p>
        <p><b>100 : </b>百 - hyaku</p>
        <p><b>1 000 : </b>千 - sen</p>
        <p><b>10 000 : </b>万 - man</p>
        <p><b>100 000 000 : </b>億 - oku</p>
        <p>Entre chaque palier, il suffit d'ajouter un nombre avant le palier</p>
        <p><b>Exemple : 190 000 = 十九万 - juukyuuman</b></p>
    </div>

    <div data-nav-cat="4" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>L'heure</h2>
        <p>L'écriture de l'heure est similaire aux autres langues (chiffre + heure/minute/seconde), <b>sauf pour les minutes</b>.</p>
        <p>"Minute" s'écrit 分 - Fun/Pun/Bun</p>
        <p>La prononciation change en fonction du chiffre :</p>
        <p><b>１分 - ippun</b></p>
        <p><b>２分 - nifun</b></p>
        <p><b>３分 - sanbun</b></p>
        <p><b>４分 - yonpun</b></p>
        <p><b>５分 - gofun</b></p>
        <p><b>６分 - roppun</b></p>
        <p><b>７分 - nanafun</b></p>
        <p><b>８分 - happun</b></p>
        <p><b>９分 - kyuufun</b></p>
        <p><b>１０分 - juppun</b></p>
        <p><b>１５分 - juugofun</b></p>
        <p><b>３０分 - sanjuppun</b></p>
    </div>

    <div data-nav-cat="5" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Compter les personnes/objets</h2>
        <h3>Les personnes</h3>
        <p><b>ひとり - hitori : </b>1 personne</p>
        <p><b>ふたり - futari : </b>2 personnes</p>
        <p>Ensuite, on ajoute simplement にん après le chiffre : [chiffre] + にん</p>

        <h3>Les objets</h3>
        <p><b>ひとつ - hitotsu : </b>1 objet</p>
        <p><b>ふたつ - futatsu : </b>2 objets</p>
        <p>Ensuite, on ajoute simplement つ après le chiffre : [chiffre] + つ</p>

        <br/>
        <p>On peut rajouter juste après <b>[目 - me]</b>(qui signifie "oeil/yeux") pour classer des choses/personnes/evènements. <b>Exemple : </b>ひとり目 -> premier/première</p>
    </div>

    <div data-nav-cat="6" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Expressions</h2>
        <p><b>ちょっといいですか - chotto ii desu ka : </b>"pouvez-vous m'accorder quelques instants ?"</p>
        <p><b>というのは - to iu no wa : </b>sert à indiquer le thème qui sera expliqué ou sur lequel on apportera une précision, une information ou un commentaire. Dans un cadre non formel, on peut utiliser って.</p>
        <p><b>もう いい - mou ii : </b>"ça suffit", "c'est bon"</p>
        <p><b>という - to iu : </b>sert à introduire le nom d'une personne, d'un animal, d'un objet ou d'un lieu.</p>
        <p><b>でしょう - deshou : </b>sert à exprimer une impression personnelle ou une possibilité. Peut aussi remplacer la particule ね en fin de phrase dans un contexte familier.</p>
    </div>

    <div data-nav-cat="7" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Interjections</h2>
        <p>En japonais, les interjections sont très importantes et bien vu, contrairement aux autres langues.</p>
        <p><b>うんん - unn : </b>exprime une reflexion.</p>
        <p><b>うん - un : </b>exprime une confirmation.</p>
        <p><b>えー - ee : </b>exprime une surprise. Se prononce en longueur.</p>
        <p><b>え - e : </b>exprime une confirmation à une question.</p>
    </div>

    <div data-nav-cat="8" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Cas particuliers</h2>
        <p>Certains mots ne peuvent pas être directement traduits ou nécessitent des explications supplémentaires, vous trouverez donc ces mots dans cette partie.</p>
        <h3>Le mot "Être"</h3>
        <p>En japonais, il est souvent considéré à tort comme un verbe. De ce fait, il ne se conjuge pas comme un verbe normal :</p>
        <p><b>です - desu : </b>présent poli</p>
        <p><b>だ - da : </b>présent neutre</p>
        <p><b>でした - deshita : </b>passé poli</p>
        <p><b>です - 	datta : </b>passé neutre</p>
        <p><b>ではありません - dewa arimasen : </b>présent négatif poli</p>
        <p><b>じゃありません - ja arimasen : </b>présent négatif courant</p>
        <p><b>ではない - dewanai : </b>présent négatif neutre</p>
        <p><b>じゃない - ja nai : </b>présent négatif neutre (forme orale)</p>
        <p><b>ではありませんでした - dewa arimasen deshita : </b>passé négatif poli</p>
        <p><b>じゃなかったです - ja nakatta desu : </b>passé négatif neutre</p>

        <br/>
        <h3>時 - toki</h3>
        <p>Sert à situer une action dans le temps. Similaire à "quand", "pendant" ou "durant".</p>
        <p><b>Avec un nom :</b> [nom] + の + 時</p>
        <p><b>Avec un verbe :</b> [verbe à la forme neutre] + 時</p>
        <p><b>Avec un adjectif en い :</b> [adjectif] + 時</p>
        <p><b>Avec un adjectif en な :</b> [adjectif] + な + 時</p>

        <br/>
        <h3>でも - けど</h3>
        <p>Les deux signifie "mais" dans un contexte formel/écrit (contrairement à が), mais でも s'utilise en début de phrase et けど au milieu.</p>

        <br/>
        <h3>と思う - to omou - penser que</h3>
        <p><b>Avec un nom :</b> [nom] + だ + と思う</p>
        <p><b>Avec un verbe :</b> [verbe à la forme neutre] + と思う</p>
        <p><b>Avec un adjectif en い :</b> [adjectif] + と思う</p>
        <p><b>Avec un adjectif en な :</b> [adjectif] + だ + と思う</p>

        <br/>
        <h3>なる - naru</h3>
        <p>なる se traduit par "devenir", son utilisation diffère légèrement des autres verbes.</p>
        <p><b>Avec un nom :</b> に + なる</p>
        <p><b>Avec un verbe :</b> [verbe neutre] + こと + に + なる</p>
        <p><b>Avec un adjectif en い :</b> [い final -> く] + なる</p>
        <p><b>Avec un adjectif en な :</b> に + なる</p>

        <br/>
        <h3>なる - naru</h3>
        <p>なる se traduit par "devenir", son utilisation diffère légèrement des autres verbes.</p>
        <p><b>Avec un nom :</b> に + なる</p>
        <p><b>Avec un verbe :</b> [verbe neutre] + こと + に + なる</p>
        <p><b>Avec un adjectif en い :</b> [い final -> く] + なる</p>
        <p><b>Avec un adjectif en な :</b> に + なる</p>

        <br/>
        <h3>間 - kan</h3>
        <p>On utilise ce suffixe pour exprimer une durée. S'utilise impérativement avec les heures, semaines et années.</p>
        <p>Dans les autres cas (minutes, jours, mois...), il est optionnel et ne sert qu'à insister sur la durée.</p>

        <br/>
        <h3>ために - tame ni</h3>
        <p>Sert à exprimer le but d'une action, "pour".</p>
        <p><b>Avec un verbe :</b> [verbe neutre] + ために</p>
        <p><b>Forme négative :</b> [verbe en ない] + ために</p>
        <p><b>Avec un nom, pronom, ou mot interrogatif :</b> [nom] + のために</p>

        <br/>
        <h3>によって - ni yotte</h3>
        <p>Sert à exprimer une variable, peut se traduire par "selon", "en fonction de"...</p>

        <br/>
        <h3>んです - n desu</h3>
        <p>Variante de です très utilisée dans les conversation. Sert à donner ou demander une explication ou une confirmation.</p>
        <p>S'utilise après un verbe ou un adjectif en forme neutre.</p>
    </div>

    <div data-nav-cat="9" class="learn-cat nav-cat-item inactive">
        <span class="nav-cat-back"><i class="fas fa-chevron-left"></i> Retour</span>
        <h2>Causes & conséquences</h2>
        <p>Pour séparer la cause et la conséquence on utilise <b>から - kara</b> ou <b>ので - node</b>. On place ces particules juste après la cause et avant la conséquence.</p>
        <p>Après un adjectif en い ou un verbe -> から.</p>
        <p>Après un adjectif en な ou un nom -> です から ou sa forme neutre だ から</p>
        </br>
        <p>ので est plus doux alors que から est plus familier.</p>
        <p>ので met l'accent la conséquence tandis que から met l'accent sur la cause.</p>
        <p>ので s'utilise généralement lorsque la cause est objective mais から s'utilise aussi bien lorsque la cause est objective que subjective.</p>
    </div>
</div>