{% extends "base.html.twig" %}

{% block page_id %}learn{% endblock %}

{% block body %}
    <div class="frame frame-light">
        {{ include('learn-content.html.twig') }}
    </div>
	
{% endblock %}
