<h2>Les particules</h2>
<p><b>は - wa : </b>indique le thème de la phrase.</p>
<p><b>も - mo : </b>remplace "wa" et signifie "aussi".</p>
<p><b>の - no : </b>indique l'appartenance, la possession, l'identité.</p>
<p><b>か - ka : </b>toujours placé à la fin, il indique la forme interrogative.</p>
<p><b>ね - ne : </b>remplace か, correspond à "n'est-ce pas ?" ou "hein ?" en français.</p>
<p><b>を - o : </b>se place devant le verbe, connexion entre le verbe et le C.O.D.</p>
<p><b>へ - e : </b>se place devant les verbes de déplacement, insiste sur le déplacement en lui même.</p>
<p><b>と - to : </b>signifie "et" ou "avec quelqu'un".</p>
<p><b>に - ni : </b>marque un temps, un lieu. Similaire au "à" en français.</p>
<p><b>よ - yo : </b>s'utilise comme le "!". Amplifie le sens de la phrase.</p>
<p><b>が - ga : </b>se place au milieu d'une phrase et signifie "mais" <b>OU</b> sert à marquer l'objet.</p>
<hr/>
<h2>La conjugaison</h2>
<p>La conjugaison s'effectue en changeant la fin du verbe :</p>
<p><b>ます - masu : </b>forme du présent et du futur.</p>
<p><b>ました - mashita : </b>forme du passé.</p>
<p><b>ません - masen : </b>forme <b>négative</b> du verbe.</p>
<p><b>でした - deshita : </b>forme <b>négative</b> du verbe au <b>passé</b>. S'ajoute après la forme négative <b>ません</b>.</p>
<p><b>ましょう - mashou : </b>sert à exprimer une intention ou une proposition. Exemple : "Buvons"</p>
<hr/>
<h2>Les adjectifs</h2>
<h3>Les adjectifs en い</h3>
<p>Ils se finissent tous par い mais cette règle n'est pas réciproque. Ils précèdent directement leur objet.</p>
<p>Pour les variantes, on remplace le い :</p>
<p><b>くない - kunai : </b>forme négative.</p>
<p><b>かった - katta : </b>forme passée.</p>
<p><b>くなかった - kunakatta : </b>forme négative passée.</p>
<p><b>くて - kute : </b>lorsque 2 adjectifs se suivent, on remplace le "i" du premier.</p>