<h2>Guide d'installation des fonctionnalités vocales</h2>

<h3>Ordinateurs</h3>		
<p>Attention ! Ces fonctionnalités <b>ne fonctionneront pas</b> si vous utilisez <b>Internet Explorer</b> comme navigateur.</p>

<h4>Installation simple</h4>
<p>La solution <b>la plus simple</b> pour profiter des fonctionnalités vocales de J-App est d'utiliser <b>Google Chrome</b>. Téléchargez Chrome ici : <a href="https://www.google.com/intl/fr_fr/chrome/" target="_blank">https://www.google.com/intl/fr_fr/chrome/</a>.</p>
<p>Google Chrome vous permet aussi d'utiliser la méthode expérimentale <b>Expression orale</b> du site.</p>

<h4>Pour Windows</h4>
<p>Rendez-vous dans les <b>Paramètres > Heure et langue > Voix</b>.
<br>
Descendez jusqu'à la section <b>Gérer les voix</b> et cliquez sur <b>Ajouter des voix</b>.
<br>
Sélectionnez <b>Japonais</b> et cliquez sur <b>Ajouter</b>.
<br>
Attendez la fin de l'installation puis relancer votre navigateur.</p>

<h4>Pour MacOS</h4>
<p>Choisissez le menu <b>Pomme > Préférences Système > Accessibilité > Contenu énoncé</b>.
<br>
Cliquez sur <b>Voix système</b> puis choisissez <b>Personnaliser</b>.
<br>
Sélectionnez <b>Japonais</b> et cliquez sur <b>OK</b>.
<br>
Attendez la fin de l'installation puis relancer votre navigateur.</p>
<br>
<h3>Smartphone</h3>
<h4>Pour Android</h4>
<p>L'installation est plus compliquée sur smartphone car chaque téléphone possède des particularités, les étapes suivantes peuvent donc varier.</p>
<p>Allez dans les <b>Paramètres > Accessibilité > Synyhèse vocale</b>.
<br>
Dans <b>Moteur préféré</b> (choissisez Google en priorité), allez dans les paramètres du moteur séléctionné.
<br>
Cliquez sur <b>Langue</b> et séléctionnez <b>japonais</b>.
<br>
Retournez dans les <b>Paramètres</b> de votre téléphone, allez dans <b>Applications</b>, trouvez votre navigateur puis cliquez sur <b>Forcer l'arrêt</b>.
<br>
Vous pouvez relancer votre navigateur et retourner sur J-App.</p>

<h4>Pour iOS</h4>
<p>A venir</p>